<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^yongtian1688.com.cn [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=302,L]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} yongtian1688.com.cn$ [NC]
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L] 